<div class="container row col-md-6 col-md-offset-3">
<% if !@errors.nil? %>
  <div class="error">
    <label><%= pluralize(@errors.count, "error") %> prohibited this pin from being saved:</label>
    <ul>
      <% @errors.full_messages.each do |msg| %>
        <li><%= "#{msg}" %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>


<div class="container row col-md-6 col-md-offset-3">
  <h1>Edit Pin</h1>
    <%= render "form" %>
</div>
